NODE_ENV='development'

APPLICATION_PORT=4000 # server
APPLICATION_URL='http://url:port' #server
ALLOWED_ORIGIN='http://url:port' #client

POSTGRES_USER='user'
POSTGRES_PASSWORD='pass'
POSTGRES_HOST='url'
POSTGRES_PORT=1337
POSTGRES_DB='dbname'
POSTGRES_URI='postgresql://user:pass@url:port/dbname'

REDIS_USER='default'
REDIS_PASSWORD='pass'
REDIS_HOST='url'
REDIS_PORT=6380

YANDEX_CLIENT_ID='your-values'
YANDEX_CLIENT_SECRET='your-values'

DISCORD_CLIENT_ID='your_values'
DISCORD_CLIENT_SECRET='your_values'

LIVEKIT_API_URL=http://url:port
LIVEKIT_API_KEY=key
LIVEKIT_API_SECRET=secret
LIVEKIT_API_URI='key: secret'
